* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

header {
    text-align: center;
    background-color: rgb(46, 51, 49);
    color: white;
    padding: 2rem 0;
}
.title {
    margin: 0.5rem 0;
    font-size: 2.5rem;
}

.subTitle {
    margin: 0.5rem 0;
    font-size: 1.3rem;
}
